* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    color: #fff;
    background-color: #333;
}

.container-placar{
    padding: 2rem;  
    color: #333;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    margin: 2rem;
}

h1{
    margin-bottom: 1rem;
}

#jog1, #jog2{
    padding: 0.1rem;
    border: 1px solid #333;
    color: blue;
}

.instrucoes{
    padding: 2rem;  
    color: #333;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    margin: 2rem;
}

#footer button {
    max-height: 50px;
    padding: 0.6rem 1.2rem;
    width: 150px;
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
